<!DOCTYPE html>

<html>

<head>

<title>
{{video.number}}
</title>

<link
rel="stylesheet"
href="/static/style.css">

</head>


<body>


<h1>
{{video.number}}
</h1>


{% if video.cover_local %}

<img
class="cover"
src="/images/covers/{{video.cover_local.split('/')[-1]}}">

{% endif %}


<h3>
{{video.title}}
</h3>


<table>

<tr>
<td>文件名</td>
<td>{{video.filename}}</td>
</tr>

<tr>
<td>发行日期</td>
<td>{{video.release_date}}</td>
</tr>

<tr>
<td>厂商</td>
<td>{{video.maker}}</td>
</tr>

<tr>
<td>演员</td>
<td>{{video.actresses}}</td>
</tr>

<tr>
<td>标签</td>
<td>{{video.tags}}</td>
</tr>

</table>


</body>

</html>
